{% extends "app/base.html" %}
{% load bootstrap4 %}


{% block content %}

<br>
<div class="container" style="background-color: rgba(255,255,255,0.7);padding: 20px 350px;">
<h3 style="text-align: center;">Login</h3>

{% if form.errors %}

	<p>Your username and password didn't match. Please try again.</p>

{% endif %}

	<form method="post" action="{% url 'users:login' %}">

{% csrf_token %}

{% bootstrap_form form %}

	<button name="submit" class="btn-lg btn-dark">log in</button>
	<input type="hidden" name="next" value="{% url 'app:index' %}" />
	</form>
	</div>

{% endblock content %}