{% extends "app/base.html" %}
{% load bootstrap4 %}


{% block content %}

<br><div class="container" style="background-color: rgba(255,255,255,0.7);padding: 20px 350px;">
	<h3 style="text-align: center;">Register</h3>
	<form method="post" action="{% url 'users:register' %}">
	{% csrf_token %}
	{% bootstrap_form form %}
	<button name="submit" class="btn-lg btn-dark" >Register</button>
	<input type="hidden" name="next" value="{% url 'app:index' %}" />
	</form>
</div>



{% endblock content %}